/* couleur untiliser pour le projet
    #000000 noir
    #FFF blanc
    #E83CF5 mauve rose
    #A4133C goyavier
    #0B77DE bleu
*/
body{
    background: url('site_exemples/img/decopageconnexion.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
body .acceuil{
    background: url('../djohndago/site_exemples/img/decopageconnexion.jpg');
}


/* ... Styles pour le reste de ta page ... */
/* mon carousel */
/* ... Styles pour le reste de ta page ... */
/* ... Styles pour le reste de ta page ... */

/* Conteneur du carousel */
.carousel-container {
    width: 90%;
    margin: 0 auto;
    height: 600px;
    overflow: hidden;
    position: relative;
}

/* Conteneur des slides (le carousel lui-même) */
.carousel {
    width: 100%;
    height: 100%;
    display: flex;
}

/* Une slide */
.slide {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0; /* Par défaut, on masque la slide */
    transition: opacity 1s ease-in-out; /* Transition pour les changements de slides */
}

/* Slide active (celle qui est actuellement affichée) */
.slide.active {
    opacity: 1; /* On affiche la slide active */
}

/* Image à l'intérieur de la slide */
.slide img {
    width: 100%;
    height: auto; /* Ajustement pour afficher l'image dans sa taille d'origine */
}

/* Légende de la slide */
.caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
}

/* Titre dans la légende */
.caption h3 {
    font-size: 24px;
}

/* Texte dans la légende avec couleur fluorescente */
.caption p.fluo-text {
    font-size: 18px;
    color: #E83CF5;
}

/* Animation pour le défilement des slides */
@keyframes slide {
    0%, 100% {
        transform: translateX(0); /* La slide active est centrée à l'écran */
    }
    20%, 80% {
        transform: translateX(-100%); /* Les autres slides sont déplacées vers la gauche */
    }
}




/* un trait pour separait le carourssel du reste de la pages */
hr .trait{
    width: 90%;
    height: 3px;
    color: #0B77DE;
}


/* image apres le carousel */
.gta{
    width: 100%;
    height: 400px;
    padding-top: 5%;
    padding-bottom: 5%;
    border: 4px solid white;
}

























/* pour la navbar */
body .navbar {
    margin: 0;
    padding: 0;
    font-family: 'Permanent Marker" sans sérif';
    
}

header {
    background: url(site_exemples\img\decormarvel.jpg);
    padding: 10px 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(90deg, #000000, #FFF, #E83CF5, #A4133C, #0B77DE);
    padding: 10px 20px;
}

.nav-left img {
    height: 100px; /* Ajuste la taille du logo en fonction de tes besoins */
    width: 250px;
}

.nav-center ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-center li {
    margin: 0 15px;
}

.nav-center a {
    text-decoration: none;
    color: #ffffff; /* Couleur des liens */
    font-size: 40px;
}

.nav-right .btn {
    padding: 12px 16px;
    margin-left: 10px;
    border: none;
    background-color: #000000; /* Couleur des boutons */
    color: #fff; /* Couleur du texte des boutons */
    font-size: 20px;
    cursor: pointer;
}

/* Style du bouton lorsqu'il est survolé */
.nav-right .btn:hover {
    background-color: #A4133C;
}


/* mon css pour mon footer */
body .FOOTER {
    margin: 0;
    padding-top: 0;
    font-family: Arial, sans-serif;
}

.footer {
    background-image: url('../djohndago/site_exemples/img/decortoucheps.jpg');
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 10%;
}

.contact {
    width: 60%;
    padding: 20px;
    color:#A4133C;
    font-size: 30px;
}

.contact h2 {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact input,
.contact textarea {
    margin-bottom: 10px;
    padding: 5px;
}

.contact button {
    padding: 12px 16px;
    border: none;
    background-color: #A4133C;
    color: #fff;
    cursor: pointer;
    font-size: x-large;
}

.social {
    width: 40%;
    padding: 20px;
    color: #A4133C;
    font-size: 30px;
}

.social h2 {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
}


.social ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.social li {
    margin-right: 10px;
}

.social img {
    height: 60px; /* Ajuste la taille des logos selon tes besoins */
}









/* page de connexion */
body .connexion {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    
}

.container {
    background-image: url('site_exemples/img/decopageconnexion.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
}

.login-form h2 {
    text-align: center;
    color: #040404;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    color: #0B77DE;
    margin-bottom: 5px;
    font-size: x-large;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #0B77DE;
    color: #FFF;
    border-radius: 30px;
    cursor: pointer;
    font-size: x-large;
}

/* Style du bouton lorsqu'il est survolé */
button:hover {
    background-color: #A4133C;
}










/* css de ma page d'inscription */
body .inscription {
    margin: 0 auto;
    padding: 0 auto;
    font-family: Arial, sans-serif;
}

.container {
    background-image: url('site_exemples/img/decopageconnexion.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-form {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
}

.signup-form h2 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    color: #000000;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #0B77DE;
    color: #000000;
    border-radius: 30px;
    cursor: pointer;
}

/* Style du bouton lorsqu'il est survolé */
button:hover {
    background-color: #A4133C;
    
}




/* css pour les modales */
/* ... Styles pour le reste de ta page ... */

/* Styles pour les modales */
/* .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    color: #AAA;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
} */

/* ... Styles pour les formulaires de connexion et d'inscription ... */


/* BLOG */

.bubbly-button{
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #A4133C;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
  
  &:focus {
    outline: 0;
  }
  
  &:before, &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  
  &:before{
    display: none;
    top: -75%;
    background-image:  
      radial-gradient(circle, #A4133C 20%, transparent 20%),
    radial-gradient(circle,  transparent 20%, #A4133C 20%, transparent 30%),
    radial-gradient(circle, #A4133C 20%, transparent 20%), 
    radial-gradient(circle, #A4133C 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, #A4133C 15%, transparent 20%),
    radial-gradient(circle, #A4133C 20%, transparent 20%),
    radial-gradient(circle, #A4133C 20%, transparent 20%),
    radial-gradient(circle, #A4133C 20%, transparent 20%),
    radial-gradient(circle, #A4133C 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
  }
  
  &:after{
    display: none;
    bottom: -75%;
    background-image:  
    radial-gradient(circle, #A4133C 20%, transparent 20%), 
    radial-gradient(circle, #A4133C 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, #A4133C 15%, transparent 20%),
    radial-gradient(circle, #A4133C 20%, transparent 20%),
    radial-gradient(circle, #A4133C 20%, transparent 20%),
    radial-gradient(circle, #A4133C 20%, transparent 20%),
    radial-gradient(circle, #A4133C 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
 
  &:active{
    transform: scale(0.9);
    background-color: darken(#A4133C, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
  
  &.animate{
    &:before{
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after{
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}


@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
 100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
 100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}