/* couleur untiliser pour le projet
    #000000
    #FFF
    #E83CF5
    #A4133C 
    #0B77DE
*/

body .acceuil{
    background: url(site_exemples\img\decormanette.jpg);
}
























/* pour la navbar */
body .navbar {
    margin: 0;
    padding: 0;
    font-family: 'Permanent Marker" sans sérif';
    
}

header {
    background: url(site_exemples\img\decormarvel.jpg);
    padding: 10px 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(90deg, #000000, #FFF, #E83CF5, #A4133C, #0B77DE);
    padding: 10px 20px;
}

.nav-left img {
    height: 100px; /* Ajuste la taille du logo en fonction de tes besoins */
    width: 250px;
}

.nav-center ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-center li {
    margin: 0 15px;
}

.nav-center a {
    text-decoration: none;
    color: #ffffff; /* Couleur des liens */
    font-size: 40px;
}

.nav-right .btn {
    padding: 12px 16px;
    margin-left: 10px;
    border: none;
    background-color: #000000; /* Couleur des boutons */
    color: #fff; /* Couleur du texte des boutons */
    font-size: 20px;
    cursor: pointer;
}

/* Style du bouton lorsqu'il est survolé */
.nav-right .btn:hover {
    background-color: #A4133C;
}


/* mon css pour mon footer */
body .FOOTER {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.footer {
    background-image: url('site_exemples/img/decolastofusblackandwhite.jpg');
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.contact {
    width: 60%;
    padding: 20px;
    color:#A4133C;
    font-size: 30px;
}

.contact h2 {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact input,
.contact textarea {
    margin-bottom: 10px;
    padding: 5px;
}

.contact button {
    padding: 12px 16px;
    border: none;
    background-color: #A4133C;
    color: #fff;
    cursor: pointer;
    font-size: x-large;
}

.social {
    width: 40%;
    padding: 20px;
    color: #A4133C;
    font-size: 30px;
}

.social h2 {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
}


.social ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.social li {
    margin-right: 10px;
}

.social img {
    height: 60px; /* Ajuste la taille des logos selon tes besoins */
}










body .connexion {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    
}

.container {
    background-image: url('site_exemples/img/decopageconnexion.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
}

.login-form h2 {
    text-align: center;
    color: #040404;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    color: #0B77DE;
    margin-bottom: 5px;
    font-size: x-large;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #0B77DE;
    color: #FFF;
    border-radius: 30px;
    cursor: pointer;
    font-size: x-large;
}

/* Style du bouton lorsqu'il est survolé */
button:hover {
    background-color: #A4133C;
}










/* css de ma page d'inscription */
body .inscription {
    margin: 0 auto;
    padding: 0 auto;
    font-family: Arial, sans-serif;
}

.container {
    background-image: url('site_exemples/img/decopageconnexion.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-form {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
}

.signup-form h2 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    color: #000000;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #0B77DE;
    color: #000000;
    border-radius: 30px;
    cursor: pointer;
}

/* Style du bouton lorsqu'il est survolé */
button:hover {
    background-color: #A4133C;
    
}

