/* couleur untiliser pour le projet
    #000000 noir
    #FFF blanc
    #E83CF5 mauve rose
    #A4133C goyavier
    #0B77DE bleu
*/

/* 
font-family: 'Lilita One', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Permanent Marker', cursive;
 */


body{
    background: url('site_exemples/img/decopageconnexion.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
body .acceuil{
    background: url('../djohndago/site_exemples/img/decopageconnexion.jpg');
}



/* Conteneur du carousel */

.carousel-container-nav {
    width: 90%;
    margin: 0 auto;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    width: 100%;
    height: 100%;
    display: flex;
    animation: slide 12s infinite; /* 4 secondes par image (3 images x 4 secondes) */
}

.carousel-slide img {
    width: 100%;
    height: auto; /* Ajustement pour afficher l'image dans sa taille d'origine */
}

@keyframes slide {
    0% {
        transform: translateX(0); /* Départ de la première image */
    }
    33.33% {
        transform: translateX(-100%); /* Déplacement vers la deuxième image */
    }
    66.66% {
        transform: translateX(-200%); /* Déplacement vers la troisième image */
    }
    100% {
        transform: translateX(0); /* Retour à la première image */
    }
}




/* un trait pour separait le carourssel du reste de la pages */
hr .trait{
    width: 90%;
    height: 3px;
    color: #0B77DE;
}


/* image apres le carousel */
/* Conteneur pour centrer l'image */
.image-container {
    max-width: 80%; /* Vous pouvez ajuster cette valeur selon vos besoins */
    margin: 0 auto; /* Centre horizontalement */
    background-color: #000000; /* Ajoute un fond blanc autour de l'image */
    padding: 20px; /* Ajoute un espace entre l'image et le bord de la boîte */
}

/* L'image à centrer */
.image-container img {
    display: block; /* Permet de gérer les marges automatiques (auto) */
    margin: 0 auto; /* Centre l'image horizontalement dans la boîte */
    max-width: 100%; /* Pour que l'image s'adapte à la largeur du conteneur */
}



/* titre avant la class cards */
/* Applique le style aux balises h2 */
h2 {
    color: white; /* Couleur du texte en blanc */
    font-family: 'Lilita One', cursive; /* Police de caractères utilisée, 'Lilita One' avec cursive */
}

/* Styles pour une section de cartes */
.card-section {
    display: flex; /* Affiche les cartes en tant que flexbox pour les aligner horizontalement */
    justify-content: space-between; /* Répartit l'espace entre les cartes de manière égale */
    gap: 20px; /* Ajoute un espace de 20px entre les cartes */
}

/* Styles pour l'image de la carte */
.card-image {
    position: relative; /* Positionnement relatif pour que les éléments internes soient positionnés par rapport à cette div */
    overflow: hidden; /* Cache tout contenu dépassant de la carte */
    border: 1px solid #ccc; /* Bordure d'un pixel avec couleur grise (#ccc) */
    border-radius: 8px; /* Bordure arrondie de 8 pixels pour donner un effet de coins arrondis */
    width: 30%; /* Largeur de la carte, ajustable selon les besoins */
}

/* Styles pour l'image à l'intérieur de la carte */
.card-image img {
    width: 100%; /* L'image occupe 100% de la largeur de la carte */
    display: block; /* L'image est affichée en tant que bloc */
    transition: transform 0.3s ease; /* Ajoute une transition fluide de 0.3 secondes pour l'effet de zoom */
}

/* Zoom sur l'image de la carte lorsque survolée avec la souris */
.card-image:hover img {
    transform: scale(1.2); /* L'image est agrandie à 120% de sa taille initiale lors du survol de la carte */
}

/* Styles pour les boutons de la carte */
.card-buttons {
    position: absolute; /* Positionnement absolu pour placer les boutons par rapport à la carte */
    bottom: 10px; /* Les boutons sont situés à 10px du bas de la carte */
    left: 50%; /* Les boutons sont centrés horizontalement à 50% de la largeur de la carte */
    transform: translateX(-50%); /* Décale les boutons horizontalement de -50% de leur propre largeur pour les centrer parfaitement */
    display: none; /* Les boutons ne sont pas affichés par défaut */
}

/* Affiche les boutons lorsque la carte est survolée avec la souris */
.card-image:hover .card-buttons {
    display: flex; /* Les boutons sont affichés en tant que flexbox lors du survol de la carte */
}

/* Styles pour les boutons eux-mêmes */
.card-buttons button {
    background-color: #3498db; /* Couleur de fond des boutons en bleu (#3498db) */
    color: white; /* Couleur du texte en blanc */
    border: none; /* Pas de bordure */
    border-radius: 4px; /* Bordure arrondie de 4 pixels pour donner un aspect légèrement arrondi aux boutons */
    padding: 6px 12px; /* Espacement interne des boutons pour un aspect visuel agréable */
    margin: 0 5px; /* Marge de 5px à gauche et à droite des boutons pour les séparer les uns des autres */
    cursor: pointer; /* Le curseur se transforme en pointeur de souris au survol des boutons pour indiquer qu'ils sont cliquables */
}



























/* pour la navbar */
/* Styles appliqués au corps du document et à la classe "navbar" */
body .navbar {
    margin: 0; /* Supprime les marges autour de la classe "navbar" */
    padding: 0; /* Supprime les espaces internes à la classe "navbar" */
    font-family: 'Permanent Marker', sans-serif; /* Police de caractères utilisée pour le texte de la classe "navbar" */
}

/* Styles pour l'en-tête (header) */
header {
    background: url('site_exemples/img/navpackman-fotor.jpg'); /* Définit une image de fond pour l'en-tête */
}

/* Styles pour la balise <nav> (barre de navigation) */
nav {
    display: flex; /* Affiche les éléments de la barre de navigation en tant que flexbox pour les aligner horizontalement */
    align-items: center; /* Centre les éléments verticalement dans la barre de navigation */
    justify-content: space-between; /* Répartit l'espace entre les éléments de la barre de navigation */
    padding: 10px 20px; /* Espacement interne de 10px en haut/bas et 20px à gauche/droite */
    background: url('site_exemples/img/navpackman-fotor.jpg'); /* Définit une image de fond pour la barre de navigation */
    border: 3px solid white; /* Bordure blanche de 3px autour de la barre de navigation */
}

/* Styles pour l'image du logo dans la partie gauche de la barre de navigation */
.nav-left img {
    height: 100px; /* Hauteur de l'image du logo */
    width: 250px; /* Largeur de l'image du logo */
}

/* Styles pour la partie centrale de la barre de navigation contenant une liste non ordonnée (ul) */
.nav-center ul {
    list-style: none; /* Supprime les puces de la liste */
    padding: 0; /* Supprime les espaces internes à la liste */
    margin: 0; /* Supprime les marges autour de la liste */
    display: flex; /* Affiche les éléments de la liste en tant que flexbox pour les aligner horizontalement */
}

/* Styles pour chaque élément de la liste dans la partie centrale de la barre de navigation */
.nav-center li {
    margin: 0 15px; /* Marge de 0 sur les côtés gauche et droit de chaque élément de la liste */
}

/* Styles pour les liens (ancres) dans la partie centrale de la barre de navigation */
.nav-center a {
    text-decoration: none; /* Supprime la décoration de soulignement des liens */
    color: #ffffff; /* Couleur du texte des liens (blanc) */
    font-size: 40px; /* Taille du texte des liens */
}

/* Styles pour la partie droite de la barre de navigation contenant un bouton */
.nav-right .btn {
    padding: 10px 12px; /* Espacement interne du bouton */
    margin-left: 2px; /* Marge de 2px à gauche du bouton pour le séparer des autres éléments */
    border: 2px solid #0B77DE; /* Bordure bleue de 2px autour du bouton */
    background-color: #000000; /* Couleur de fond du bouton (noir) */
    color: #fff; /* Couleur du texte du bouton (blanc) */
    font-size: 20px; /* Taille du texte du bouton */
    cursor: pointer; /* Change le curseur en pointeur de souris lors du survol du bouton */
    display: flex; /* Affiche le bouton en tant que flexbox pour aligner son contenu */
}

/* Styles pour les liens (ancres) à l'intérieur du bouton de la partie droite de la barre de navigation */
.nav-right .btn a {
    text-decoration: none; /* Supprime la décoration de soulignement des liens dans le bouton */
    color: white; /* Couleur du texte des liens (blanc) */
    font-family: fantasy; /* Police de caractères fantaisie pour les liens dans le bouton */
    font-size: 30px; /* Taille du texte des liens dans le bouton */
}

/* Styles du bouton de la partie droite de la barre de navigation lorsqu'il est survolé */
.nav-right .btn:hover {
    background-color: #A4133C; /* Couleur de fond du bouton lorsqu'il est survolé (rouge) */
    border: 2px solid white; /* Bordure blanche de 2px autour du bouton lorsqu'il est survolé */
}









/* mon css pour mon footer */
/* Styles appliqués au corps du document et à la classe "FOOTER" */
body .FOOTER {
    margin: 0; /* Supprime les marges autour de la classe "FOOTER" */
    padding-top: 0; /* Supprime l'espacement interne en haut de la classe "FOOTER" */
    font-family: Arial, sans-serif; /* Police de caractères utilisée pour le texte de la classe "FOOTER" */
}

.footer { 
    background-image: url(../djohndago/site_exemples/img/decortoucheps.jpg); /*Ajouter image dans le footer*/
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: space-around;
    color: #fff;
    width: 100%;
    padding-top: 1%;
    align-items: center;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: nowrap;
    backdrop-filter: blur(15px);
    
}

/* .footer{
    background-image: url('../djohndago/site_exemples/img/decortoucheps.jpg');
    
    height:582px;
    width:1443px;
    border:1px solid #000000;
    position:absolute;
    background-size: cover;
    /* left:29px;
    top:3587px; */
/* } */


/* .contact {
    width: 60%;
    padding: 20px;
    color:#A4133C;
    font-size: 30px;
} */

.contact
{
color:#ffffff;
text-align:center;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
line-height:auto;
border:2px solid #0b77de;
width:152px;
}

/* Styles pour la classe "contact" (section de contact dans le pied de page) */
.contact {
    color: #ffffff; /* Couleur du texte en blanc */
    text-align: center; /* Centre le contenu horizontalement */
    vertical-align: text-top; /* Aligne le contenu verticalement en haut */
    font-size: 24px; /* Taille du texte */
    font-family: Inter; /* Police de caractères utilisée pour le texte */
    line-height: auto; /* Hauteur de ligne automatique */
    border: 2px solid #0b77de; /* Bordure de 2px avec couleur bleue (#0b77de) */
    width: 152px; /* Largeur de la section de contact */
}

/* Styles pour le titre h2 dans la section de contact */
.contact h2 {
    border-bottom: 1px solid #fff; /* Bordure inférieure de 1px avec couleur blanche (#fff) */
    padding-bottom: 10px; /* Espacement en bas du titre */
}

/* Styles pour les champs de saisie (input) dans la section de contact */
.contact input {
    background-color: #a4133c; /* Couleur de fond des champs de saisie en rouge foncé (#a4133c) */
    height: 38px; /* Hauteur des champs de saisie */
    width: 221px; /* Largeur des champs de saisie */
}

/* Styles spécifiques pour le champ de saisie de type "email" dans la section de contact */
input[type="email"] {
    background-color: #a4133c; /* Couleur de fond du champ de saisie de type "email" en rouge foncé (#a4133c) */
    height: 45px; /* Hauteur du champ de saisie de type "email" */
    width: 412px; /* Largeur du champ de saisie de type "email" */
}

/* Styles pour la zone de texte (textarea) dans la section de contact */
.contact textarea {
    margin-bottom: 10px; /* Marge inférieure de 10px pour séparer le champ de saisie de la zone de texte */
    padding: 5px; /* Espacement interne de 5px dans la zone de texte */
    color: #fff; /* Couleur du texte en blanc */
    background-color: #a4133c; /* Couleur de fond de la zone de texte en rouge foncé (#a4133c) */
    height: 164px; /* Hauteur de la zone de texte */
    width: 540px; /* Largeur de la zone de texte */
}

/* Styles pour le bouton (button) dans la section de contact */
.contact button {
    padding: 12px 16px; /* Espacement interne du bouton */
    border: none; /* Pas de bordure */
    background-color: #A4133C; /* Couleur de fond du bouton en rouge foncé (#A4133C) */
    color: #fff; /* Couleur du texte en blanc */
    cursor: pointer; /* Change le curseur en pointeur de souris lors du survol du bouton */
    font-size: x-large; /* Taille du texte du bouton en "x-large" */
}

/* Styles pour la classe "social" (section des liens sociaux dans le pied de page) */
.social {
    width: 40%; /* Largeur de la section des liens sociaux */
    padding: 20px; /* Espacement interne de 20px dans la section des liens sociaux */
    color: #A4133C; /* Couleur du texte en rouge foncé (#A4133C) */
    font-size: 30px; /* Taille du texte */
}

/* Styles pour le titre h2 dans la section des liens sociaux */
.social h2 {
    border-bottom: 1px solid #ffffff; /* Bordure inférieure de 1px avec couleur blanche (#ffffff) */
    padding-bottom: 10px; /* Espacement en bas du titre */
}

/* Styles pour la liste (ul) dans la section des liens sociaux */
.social ul {
    list-style: none; /* Supprime les puces de la liste */
    display: flex; /* Affiche les éléments de la liste en tant que flexbox pour les aligner horizontalement */
    padding: 0; /* Supprime les espaces internes à la liste */
    margin: 0; /* Supprime les marges autour de la liste */
}

/* Styles pour chaque élément de la liste (li) dans la section des liens sociaux */
.social li {
    margin-right: 10px; /* Marge de 10px à droite de chaque élément de la liste pour les séparer */
}

/* Styles pour les images (logos) dans la section des liens sociaux */
.social img {
    height: 60px; /* Hauteur des logos sociaux */
    /* Ajuste la taille des logos selon tes besoins */
}






















/* ... Styles pour les formulaires de connexion et d'inscription ... */
/* modal formulaire */

/* Styles pour la classe "login-page" */
.login-page {
    width: 360px; /* Largeur de la page de connexion */
    margin: auto; /* Centre la page horizontalement */
  }
  
  /* Styles pour les champs de saisie (input) dans le formulaire */
  .form input {
    outline: 0; /* Supprime la bordure bleue autour du champ de saisie lorsqu'il est en surbrillance */
    background: #f2f2f2; /* Couleur de fond des champs de saisie */
    width: 100%; /* Largeur du champ de saisie */
    border: 0; /* Supprime la bordure autour du champ de saisie */
    margin: 0 0 15px; /* Marge inférieure de 15px pour séparer les champs de saisie */
    padding: 15px; /* Espacement interne des champs de saisie */
    box-sizing: border-box; /* Inclut le rembourrage et la bordure dans la largeur totale du champ de saisie */
    font-size: 14px; /* Taille du texte des champs de saisie */
  }
  
  /* Styles pour le bouton dans le formulaire */
  .form button {
    text-transform: uppercase; /* Transforme le texte du bouton en majuscules */
    outline: 0; /* Supprime la bordure bleue autour du bouton lorsqu'il est en surbrillance */
    background: #4CAF50; /* Couleur de fond du bouton en vert */
    width: 100%; /* Largeur du bouton */
    border: 0; /* Supprime la bordure autour du bouton */
    padding: 15px; /* Espacement interne du bouton */
    color: #FFFFFF; /* Couleur du texte en blanc */
    font-size: 14px; /* Taille du texte du bouton */
    -webkit-transition: all 0.3 ease; /* Transition fluide pour les propriétés CSS sur les navigateurs basés sur WebKit (comme Chrome et Safari) */
    transition: all 0.3 ease; /* Transition fluide pour les propriétés CSS */
    cursor: pointer; /* Change le curseur en pointeur de souris lors du survol du bouton */
  }
  
  /* Styles pour le bouton lorsqu'il est survolé, actif ou en focus */
  .form button:hover, .form button:active, .form button:focus {
    background: #43A047; /* Couleur de fond du bouton en vert foncé lorsqu'il est survolé, actif ou en focus */
  }
  
  /* Styles pour le message dans le formulaire */
  .form .message {
    margin: 15px 0 0; /* Marge supérieure de 15px pour séparer le message du reste du formulaire */
    color: #b3b3b3; /* Couleur du texte du message en gris clair */
    font-size: 12px; /* Taille du texte du message */
  }
  
  /* Styles pour le lien dans le message du formulaire */
  .form .message a {
    color: #4CAF50; /* Couleur du texte du lien en vert */
    text-decoration: none; /* Supprime la décoration de soulignement du lien */
  }
  
  /* Styles pour la classe "register-form" (formulaire d'inscription, qui est masqué par défaut) */
  .form .register-form {
    display: none; /* Masque le formulaire d'inscription par défaut */
  }
  
  /* Styles pour la classe "ourservices" (conteneur des services) */
  #ourservices {
    display: grid; /* Affiche les services en tant que grille */
    grid-template-columns: auto auto auto; /* Trois colonnes de largeur automatique */
    margin: 5% 10%; /* Marge de 5% en haut et en bas, et de 10% à gauche et à droite du conteneur */
    gap: 20px; /* Espace de 20px entre les services */
  }
  
  /* Styles pour chaque service (élément avec la classe "our_services") */
  .our_services {
    border: 5px solid white; /* Bordure de 5px avec couleur blanche autour de chaque service */
    color: white; /* Couleur du texte en blanc */
    transition: .5s; /* Durée de la transition de 0.5 seconde pour les animations */
  }
  
  /* Styles pour chaque service lorsqu'il est survolé */
  .our_services:hover {
    scale: 110%; /* Agrandit le service à 110% de sa taille initiale lorsqu'il est survolé */
  }
  
  /* Styles pour le texte du service (élément avec la classe "txt3") qui est caché par défaut */
  .our_services .txt3 {
    display: none; /* Cache le texte du service par défaut */
  }
  
  /* Styles pour le texte du service lorsqu'il est survolé */
  .our_services:hover .txt3 {
    display: block; /* Affiche le texte du service lorsqu'il est survolé */
    width: auto; /* Largeur automatique du texte du service */
  }
  
  /* Styles pour le bouton de la carte du service (élément avec la classe "butcard") */
  .butcard {
    width: 0%; /* Largeur initiale du bouton de la carte du service à 0% */
    padding: 0px; /* Pas de rembourrage interne pour le bouton */
    border: none; /* Pas de bordure autour du bouton */
    background-color: #A4133C; /* Couleur de fond du bouton en rouge foncé */
    color: white; /* Couleur du texte en blanc */
    border-radius: 30px; /* Bordure arrondie de 30px pour donner un effet de coin arrondi au bouton */
    cursor: pointer; /* Change le curseur en pointeur de souris au survol du bouton */
    transition: .5s; /* Durée de la transition de 0.5 seconde pour les animations */
  }
  
  /* Styles pour le bouton de la carte du service lorsqu'il est survolé */
  .butcard:hover {
    background-color: transparent; /* Couleur de fond du bouton devient transparente lorsqu'il est survolé */
    border: 1px solid #0B77DE; /* Bordure de 1px avec couleur bleue autour du bouton lorsqu'il est survolé */
  }
  
  /* Styles pour les titres avec effet de texte ombré (élément avec la classe "titre_style") */
  .titre_style {
    text-shadow: 2px 0 #0B77DE, -2px 0 #0B77DE, 0 2px #0B77DE, 0 -2px #0B77DE,
                 1px 1px #0B77DE, -1px -1px #0B77DE, 1px -1px #0B77DE, -1px 1px #0B77DE; /* Ombre du texte avec décalages pour créer l'effet ombré */
  }
  




/* 5 */
/* Styles pour le bouton avec la classe "btn-5" */
.btn-5 {
    width: 130px; /* Largeur du bouton */
    height: 40px; /* Hauteur du bouton */
    line-height: 42px; /* Hauteur de ligne du bouton */
    padding: 0; /* Pas de rembourrage interne */
    border: none; /* Pas de bordure */
    background: #A4133C; /* Couleur de fond du bouton en rouge foncé */
  }
  
  /* Styles pour le bouton lorsqu'il est survolé */
  .btn-5:hover {
    color: white; /* Couleur du texte en blanc */
    background: black; /* Couleur de fond du bouton en noir lorsqu'il est survolé */
    box-shadow: none; /* Supprime l'ombre du bouton lorsqu'il est survolé */
  }
  
  /* Styles pour les pseudos-éléments "before" et "after" du bouton */
  .btn-5:before,
  .btn-5:after {
    content: ''; /* Ajoute du contenu vide aux pseudos-éléments */
    position: absolute; /* Position absolue pour les pseudos-éléments */
    top: 0; /* Position en haut du bouton */
    right: 0; /* Position à droite du bouton */
    height: 2px; /* Hauteur de 2px pour les lignes des pseudos-éléments */
    width: 0; /* Largeur initiale de 0 pour les lignes des pseudos-éléments */
    background: #A4133C; /* Couleur de fond des lignes des pseudos-éléments en rouge foncé */
    box-shadow:
      -1px -1px 5px 0px #fff,
      7px 7px 20px 0px #0003,
      4px 4px 5px 0px #0002; /* Effets d'ombre pour les lignes des pseudos-éléments */
    transition: 400ms ease all; /* Transition fluide de 400ms pour les animations */
  }
  
  /* Styles pour le pseudo-élément "after" du bouton */
  .btn-5:after {
    right: inherit; /* Position "right" hérite de la position parente */
    top: inherit; /* Position "top" hérite de la position parente */
    left: 0; /* Position à gauche du bouton */
    bottom: 0; /* Position en bas du bouton */
  }
  
  /* Styles pour les pseudos-éléments "before" et "after" du bouton lorsqu'il est survolé */
  .btn-5:hover:before,
  .btn-5:hover:after {
    width: 100%; /* Largeur des lignes des pseudos-éléments à 100% lorsqu'il est survolé */
    transition: 800ms ease all; /* Transition fluide de 800ms pour les animations lorsqu'il est survolé */
  }
  
  /* Styles pour la classe "frame" */
  .frame {
    width: 100%; /* Largeur de la classe "frame" */
    margin: 40px auto; /* Marge de 40px en haut et en bas, et centrage horizontal de la classe "frame" */
    text-align: center; /* Alignement du texte centré */
    display: flex; /* Affiche les éléments de la classe "frame" en tant que flexbox */
    justify-content: center; /* Centre les éléments horizontalement dans la classe "frame" */
  }
  
  /* Styles pour le bouton personnalisé avec la classe "custom-btn" */
  .custom-btn {
    width: auto; /* Largeur automatique du bouton */
    height: 40px; /* Hauteur du bouton */
    color: #fff; /* Couleur du texte en blanc */
    border-radius: 5px; /* Bordure arrondie de 5px pour donner un effet de coin arrondi au bouton */
    padding: 10px 25px; /* Espacement interne du bouton */
    font-family: 'Lato', sans-serif; /* Police de caractères utilisée pour le texte du bouton */
    font-weight: 500; /* Poids de la police de caractères */
    background: #A4133C; /* Couleur de fond du bouton en rouge foncé */
    cursor: pointer; /* Change le curseur en pointeur de souris au survol du bouton */
    transition: all 0.3s ease; /* Transition fluide de 0.3 seconde pour les animations */
    position: relative; /* Position relative pour les pseudos-éléments des boutons */
    display: inline-block; /* Affiche le bouton en tant que bloc en ligne */
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
      7px 7px 20px 0px rgba(0, 0, 0, .1),
      4px 4px 5px 0px rgba(0, 0, 0, .1); /* Effets d'ombre pour le bouton */
    outline: none; /* Supprime la bordure de contour autour du bouton lorsqu'il est en surbrillance */
    display: flex; /* Affiche les éléments du bouton en tant que flexbox */
    justify-content: center; /* Centre les éléments horizontalement dans le bouton */
    align-items: center; /* Centre les éléments verticalement dans le bouton */
  }




/* Styles pour le bouton de mise à jour avec la classe "updatebut" */
.updatebut {
  width: 130px; /* Largeur du bouton */
  height: 40px; /* Hauteur du bouton */
  line-height: 42px; /* Hauteur de ligne du bouton */
  padding: 0; /* Pas de rembourrage interne */
  border: none; /* Pas de bordure */
  background: goldenrod; /* Couleur de fond du bouton en doré */
}

/* Styles pour le bouton de mise à jour lorsqu'il est survolé */
.updatebut:hover {
  color: white; /* Couleur du texte en blanc */
  background: black; /* Couleur de fond du bouton en noir lorsqu'il est survolé */
  box-shadow: none; /* Supprime l'ombre du bouton lorsqu'il est survolé */
}

/* Styles pour les pseudos-éléments "before" et "after" du bouton de mise à jour */
.updatebut:before,
.updatebut:after {
  content: ''; /* Ajoute du contenu vide aux pseudos-éléments */
  position: absolute; /* Position absolue pour les pseudos-éléments */
  top: 0; /* Position en haut du bouton */
  right: 0; /* Position à droite du bouton */
  height: 2px; /* Hauteur de 2px pour les lignes des pseudos-éléments */
  width: 0; /* Largeur initiale de 0 pour les lignes des pseudos-éléments */
  background: goldenrod; /* Couleur de fond des lignes des pseudos-éléments en doré */
  box-shadow:
    -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002; /* Effets d'ombre pour les lignes des pseudos-éléments */
  transition: 400ms ease all; /* Transition fluide de 400ms pour les animations */
}

/* Styles pour le pseudo-élément "after" du bouton de mise à jour */
.updatebut:after {
  right: inherit; /* Position "right" hérite de la position parente */
  top: inherit; /* Position "top" hérite de la position parente */
  left: 0; /* Position à gauche du bouton */
  bottom: 0; /* Position en bas du bouton */
}

/* Styles pour les pseudos-éléments "before" et "after" du bouton de mise à jour lorsqu'il est survolé */
.updatebut:hover:before,
.updatebut:hover:after {
  width: 100%; /* Largeur des lignes des pseudos-éléments à 100% lorsqu'il est survolé */
  transition: 800ms ease all; /* Transition fluide de 800ms pour les animations lorsqu'il est survolé */
}

/* Styles pour le bouton de mise à jour personnalisé avec la classe "custom-btn-up" */
.custom-btn-up {
  width: auto; /* Largeur automatique du bouton */
  height: 40px; /* Hauteur du bouton */
  color: #fff; /* Couleur du texte en blanc */
  border-radius: 5px; /* Bordure arrondie de 5px pour donner un effet de coin arrondi au bouton */
  padding: 10px 25px; /* Espacement interne du bouton */
  font-family: 'Lato', sans-serif; /* Police de caractères utilisée pour le texte du bouton */
  font-weight: 500; /* Poids de la police de caractères */
  background: goldenrod; /* Couleur de fond du bouton en doré */
  cursor: pointer; /* Change le curseur en pointeur de souris au survol du bouton */
  transition: all 0.3s ease; /* Transition fluide de 0.3 seconde pour les animations */
  position: relative; /* Position relative pour les pseudos-éléments des boutons */
  display: inline-block; /* Affiche le bouton en tant que bloc en ligne */
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1); /* Effets d'ombre pour le bouton */
  outline: none; /* Supprime la bordure de contour autour du bouton lorsqu'il est en surbrillance */
  display: flex; /* Affiche les éléments du bouton en tant que flexbox */
  justify-content: center; /* Centre les éléments horizontalement dans le bouton */
  align-items: center; /* Centre les éléments verticalement dans le bouton */
}



.deletebut {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: #E83CF5;
  }
  .deletebut:hover {
    color: white;
    background: black;
     box-shadow:none;
  }
  .deletebut:before,
  .deletebut:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #E83CF5;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .deletebut:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .deletebut:hover:before,
  .deletebut:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  .custom-btn-del {
    width: auto;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: #E83CF5;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }  

  .decobut{
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: #A4133C;
  }
  .decobut:hover {
    color: white;
    background: black;
     box-shadow:none;
  }
  .decobut:before,
  .decobut:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #A4133C;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .decobut:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .decobut:hover:before,
  .decobut:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  .custom-btn-deco {
    width: auto;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: #A4133C;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }  

  .dashbut{
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: white;
  }
  .dashbut:hover {
    color: white;
    background: black;
     box-shadow:none;
  }
  .dashbut:before,
  .dashbut:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: white;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .dashbut:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .dashbut:hover:before,
  .dashbut:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  .custom-btn-dash {
    width: auto;
    height: 40px;
    color: black;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }  

#makeup{
    font-weight: 300;
    letter-spacing: 1px;
    background-image: linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(0,0,0,0.51) 100%),url(https://massage-theme.richardpruzek.com/wp-content/uploads/2020/02/massage32.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
    padding-top: 280px;
    padding-right: 60px;
    padding-bottom: 40px;
    padding-left: 30px;
}











/* pages articles de damien */


/* Styles pour le reste de ta page... */

.article {
    max-width: 1400px;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #ccc;
    /* background-image: linear-gradient(90deg, #000000, #FFF, #E83CF5, #A4133C, #0B77DE); */
    background-color: black;

}

img {
    max-width: 100%;
    max-height: 800px; /* Ajuste la hauteur maximale selon tes besoins */
    border: 5px solid white;
}

.titrearticles{
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    background-image: linear-gradient(90deg, #0B77DE,#A4133C, #E83CF5, #A4133C, #0B77DE);
}

p{
    font-size: x-large;
    color: white;
    font-family: 'Lilita One', cursive;
}

.comment-section {
    margin-top: 20px;
}

.comment-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.comment-form input,
.comment-form textarea {
    margin-bottom: 10px;
    padding: 5px;
}

.comment-form button {
    padding: 8px 16px;
    background-color: #A4133C;
    color: #fff;
    border: none;
    cursor: pointer;
}

.comments {
    /* Styles des commentaires seront ajoutés via JavaScript */
    font-size: larger;
}

.like-section {
    margin-top: 20px;
}

.icons {
    display: flex;
}

.icon {
    margin-right: 10px;
    cursor: pointer;
    color: #ffffff;
    font-size: xx-large;
}










/* css pour mes modale inscription connexion et modal */
.modal-content{
    background: url('site_exemples/img/bm.jpg'), no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 2px 0 #A4133C, -2px 0 #A4133C, 0 2px #A4133C, 0 -2px #A4133C,
    1px 1px #A4133C, -1px -1px #A4133C, 1px -1px #A4133C, -1px 1px#A4133C;
}

.modal-body{
    border: 5px solid #A4133C;
}

/* .login-page{
    border: 5px solid black;
    
} */

.btn-modal{
    background-color: #000000;
    color: white;
    border: 2px solid white;
    transition: .5s;
}

.btn-modal:hover{
    background-color: #A4133C;
}


#deconul{
    text-decoration: none;
}
#dashnul{
    text-decoration: none;
}

#mdr{
    display: flex;
    justify-content: start;
    gap: 20px;
    margin-bottom: 10px;
}


/* TABLEAU DASHBOARD*/
strong {
	font-weight: bold; 
}

em {
	font-style: italic; 
}

table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 20px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: 800px;
}	

th {
	background-color: #2F2E2D;
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
    font-weight: bold;
	padding: 10px 15px;
	/* position: relative; */
}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	/* position: absolute; */
	top: 25%;
	width: 100%;
}

th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	/* position: relative; */
	transition: all 300ms;
}

td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

tr {
	background: url(https://jackrugile.com/images/misc/noise-diagonal.png);	
}

tr:nth-child(odd) td {
	background: #f1f1f1 url(https://jackrugile.com/images/misc/noise-diagonal.png);	
}

tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	

tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}



/* salut */
#salut {

    font: 40px "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

    background: url('site_exemples/img/bande_couleur.jpg') repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

/* Animate Background Image */

    -webkit-text-fill-color: transparent;
    animation: aitf 5s linear infinite;

/* Activate hardware acceleration for smoother animations */

    transform: translate3d(0,0,0);
}


/* Animate Background Image */

@keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}